*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.white-color{
    color: white;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    background-color: #056DBC;
    box-shadow: 0px 8px 15px -1px rgba(0, 0, 0, 0.25);
}

.logo{
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
}

.navbar-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
}

.navbar-button a{
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    text-decoration: none;
    color: white;
}

#current-page{
    text-decoration: underline;
}

.navbar-button a:hover{
    text-decoration: underline;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
    gap: 2rem;
}

.box{
    display: flex;
    width: 100%;
    gap: 2rem;
}

.box img{
    filter: drop-shadow(95px 253px 108px rgba(75, 88, 88, 0.02)) drop-shadow(53px 143px 91px rgba(75, 88, 88, 0.06)) drop-shadow(24px 63px 68px rgba(75, 88, 88, 0.1)) drop-shadow(6px 16px 37px rgba(75, 88, 88, 0.12)) drop-shadow(0px 0px 0px rgba(75, 88, 88, 0.12));
    border-radius: 10px;
}

.content{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: #FFFFFF;
    box-shadow: 0px 8px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.title{
    color: #056DBC;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 1rem;
}

.description{
    font-size: 18px;
    font-weight: 500;
}