*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    height: 100vh;
    width: 100%;
}

.white-color{
    color: white;
}

.blue-color{
    color: #056DBC;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    background-color: #056DBC;
    box-shadow: 0px 8px 15px -1px rgba(0, 0, 0, 0.25);
}

.logo{
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
}

.navbar-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
}

.navbar-button a{
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    text-decoration: none;
    color: white;
}

#current-page{
    text-decoration: underline;
}

.navbar-button a:hover{
    text-decoration: underline;
}

.logo{
    font-size: 38px;
    font-weight: 8  00;
}

.button-back{
    margin-left: 2.8rem;
    margin-top: 1.8rem;
}

.button-back a{
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #056DBC;
    text-decoration: none;
}

.button-back a:hover{
    text-decoration: underline;
}

.wrapper{
    height: 800px;
}

.container{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 15px;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.title{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 3rem;
}

.first-row{
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.input-form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

::-webkit-file-upload-button {
    display: none;
}

.input-form img{
    width: 20px;
    height: 20px;
}

.input-form label{
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
}

.input-form input{
    background-color: red;
    width: 600px;
    height: 40px;
    background-color: transparent;
    color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.input-box{
    display: flex;
    flex-direction: row;
    border: 1px solid #000000;
    filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.25));
    border-radius: 22px;
    padding: 16px;
    width: 600px;
    align-items: center;
    justify-content: center;
}

.second-row{
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.second-row .left{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.second-row .right .textarea{
    border: 1px solid #000000;
    border-radius: 22px;
    padding: 1rem;
    width: 600px;
    min-height: 210px;
    resize: none;
}

.fill{
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
}

.btn-apply{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.btn-apply:hover{
    opacity: 0.6;
}

.btn-apply a{
    padding: 10px 80px;
    background: #056DBC;
    border: 3px solid #FFFFFF;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}