*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 36px 92px; 
}

.navbar-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.navbar-content img{
    width: 50px;
    height: auto;
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.button .login-button{
    border-color: transparent;
    border-radius: 24.5px;
    text-decoration: none;
    padding: 12px 24px;
    background-color: #056DBC;
    color: #EEF5F5;
}

.button .register-button{
    border-color: transparent;
    border-radius: 24.5px;
    text-decoration: none;
    padding: 12px 15.5px;
    background-color: #BCAAAA24;
    color: #000000CC;
}

.button .line{
    transform:rotate(90deg);
}

.button .line hr{
    width: 3rem;
    color: black;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #056DBC;
    border-radius: 54px 54px 0px 0px;
    height: 38.4rem;
    width: auto;
    background: #056DBC;
    box-shadow: 12px 2px 22px 8px rgba(0, 0, 0, 0.3);
}

.container .box{
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 27px 54px;
    width: 85rem;
    height: 90%;
    background: #D9D9D9;
    border: 1px solid #000000;
    box-shadow: 0px 3px 5px 6px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    gap: 10px;
}

.box .title{
    font-style: normal;
    font-weight: bolder;
    font-size: 36px;
}

.box .secondtitle{
    font-style: normal;
    font-weight: 1;
    font-size: 36px;
    color: gray;
}

.box .look{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.box .look a{
    text-decoration: none;
    color: blue;
}

.box .button-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    gap: 24px;
    /* width: 200px; */
}

.box .button-submit a{
    display: flex;
    justify-content: center;
    width: 300px;
    background: #056DBC;
    border-radius: 24.5px;
    border: none;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #EEF5F5;
    max-width: 100%;
    padding: 1rem;
}